skvenv
.idea
account/migrations/*
!account/migrations/__init__.py
__pycache__/
**/__pycache__/**
.vscode
media/
venv
home/migrations/*
!home/migrations/__init__.py
course/migrations/*
!course/migrations/__init__.py
db.sqlite3