{% extends 'base.html' %}
{% load static %}
{% block sidebar_header %}
    {% include 'oranization/sidebar.html' %}
{% endblock sidebar_header %}
{% block style %}
    <link href="{% static 'plugins/vectormap/jquery-jvectormap-2.0.2.css' %}" rel="stylesheet"/>
{% endblock style %}
{% block content %}
		<!--start page wrapper -->
		<div class="page-wrapper">
			<div class="page-content">
				<div class="row row-cols-1 row-cols-md-2 row-cols-xl-4">
                   <div class="col">
					 <div class="card radius-10 border-start border-0 border-3 border-info">
						<div class="card-body">
							<div class="d-flex align-items-center">
								<div>
									<p class="mb-0 text-secondary">O’quvchilar soni</p>
									<h4 class="my-1 text-info">{{ pupil_count }}</h4>
								</div>
								<div class="widgets-icons-2 rounded-circle bg-gradient-scooter text-white ms-auto"><i class='bx bxs-cart'></i>
								</div>
							</div>
						</div>
					 </div>
				   </div>
				   <div class="col">
					<div class="card radius-10 border-start border-0 border-3 border-danger">
					   <div class="card-body">
						   <div class="d-flex align-items-center">
							   <div>
								   <p class="mb-0 text-secondary">Maktab reytingi</p>
								   <h4 class="my-1 text-danger">5</h4>
							   </div>
							   <div class="widgets-icons-2 rounded-circle bg-gradient-bloody text-white ms-auto"><i class='bx bxs-wallet'></i>
							   </div>
						   </div>
					   </div>
					</div>
				  </div>
				  <div class="col">
					<div class="card radius-10 border-start border-0 border-3 border-success">
					   <div class="card-body">
						   <div class="d-flex align-items-center">
							   <div>
								   <p class="mb-0 text-secondary">Abuturientlar soni</p>
								   <h4 class="my-1 text-success">{{ abuturient_count }}</h4>
							   </div>
							   <div class="widgets-icons-2 rounded-circle bg-gradient-ohhappiness text-white ms-auto"><i class='bx bxs-bar-chart-alt-2' ></i>
							   </div>
						   </div>
					   </div>
					</div>
				  </div>
				  <div class="col">
					<div class="card radius-10 border-start border-0 border-3 border-warning">
					   <div class="card-body">
						   <div class="d-flex align-items-center">
							   <div>
								   <p class="mb-0 text-secondary">Xorijiy til o’rganuvchilar soni</p>
								   <h4 class="my-1 text-warning">{{ foreigners_count }}</h4>
							   </div>
							   <div class="widgets-icons-2 rounded-circle bg-gradient-blooker text-white ms-auto"><i class='bx bxs-group'></i>
							   </div>
						   </div>
					   </div>
					</div>
				  </div>
                  <div class="col">
					<div class="card radius-10 border-start border-0 border-3 border-danger">
					   <div class="card-body">
						   <div class="d-flex align-items-center">
							   <div>
								   <p class="mb-0 text-secondary">Prizident maktabiga kiruvchilar soni</p>
								   <h4 class="my-1 text-danger">{{ for_president_school_count }}</h4>
							   </div>
							   <div class="widgets-icons-2 rounded-circle bg-gradient-orange text-white ms-auto"><i class='bx bxs-group'></i>
							   </div>
						   </div>
					   </div>
					</div>
				  </div>
                  <div class="col">
					<div class="card radius-10 border-start border-0 border-3 border-primary">
					   <div class="card-body">
						   <div class="d-flex align-items-center">
							   <div>
								   <p class="mb-0 text-secondary">o’qtuvchilar soni</p>
								   <h4 class="my-1 text-primary">{{ teacher_count }}</h4>
							   </div>
							   <div class="widgets-icons-2 rounded-circle bg-gradient-deepblue text-white ms-auto"><i class='bx bxs-group'></i>
							   </div>
						   </div>
					   </div>
					</div>
				  </div>
				</div><!--end row-->
			</div>
		</div>
		<!--end page wrapper -->
{% block script %}
    <script src="{% static 'plugins/vectormap/jquery-jvectormap-2.0.2.min.js' %}"></script>
    <script src="{% static 'plugins/vectormap/jquery-jvectormap-world-mill-en.js' %}"></script>
	<script src="{% static 'plugins/chartjs/js/Chart.min.js' %}"></script>
	<script src="{% static 'plugins/chartjs/js/Chart.extension.js' %}"></script>
	<script src="{% static 'js/index.js' %}"></script>
{% endblock script %}
{% endblock %}
