{% extends 'base.html' %}
{% load static %}
{% block sidebar_header %}
    {% include 'oranization/sidebar.html' %}
{% endblock sidebar_header %}
{% block style %}
    <link href="{%  static 'plugins/select2/css/select2.min.css' %}" rel="stylesheet" />
	<link href="{%  static '/plugins/select2/css/select2-bootstrap4.css' %}" rel="stylesheet" />

{% endblock style %}
{% block content %}
			<div class="page-wrapper">
			<div class="page-content">
				<!--breadcrumb-->
				<div class="page-breadcrumb d-none d-sm-flex align-items-center mb-3">
					<div class="breadcrumb-title pe-3">Dashboard</div>
					<div class="ps-3">
						<nav aria-label="breadcrumb">
							<ol class="breadcrumb mb-0 p-0">
								<li class="breadcrumb-item"><a href="javascript:;"><i class="bx bx-home-alt"></i></a>
								</li>
								<li class="breadcrumb-item active" aria-current="page">Maktab qo`shish</li>
							</ol>
						</nav>
					</div>
					<div class="ms-auto">
						<div class="d-flex">
							<button type="button" class="btn btn-danger" style="margin: 10px">O`chirish</button>
							<a type="button" class="btn btn-primary" style="margin: 10px" href="{% url 'update-school' school.id %}">O`zgartirish</a>
						</div>
					</div>
				</div>
				<!--end breadcrumb-->

				<div class="card">
					<div class="row g-0">
					  <div class="col-md-12">
						<div class="card-body">
						  <h4 class="card-title">{{school}} maktab haqida ma`lumot</h4>
						  <hr>
						  <div class="mb-3 d-flex justify-content-around"> 
							<div>
								<span class="price h4">Maktab nomi:</span> 
								<span class="price h4"><strong>{{school}}</strong></span> 
							</div>
							<div>
								<span class="price h4">Maktab direktori:</span> 
								<span class="price h4"> <strong>{{school.director}}</strong></span> 
							</div>
						</div>
						  <div class="mb-3 d-flex justify-content-around"> 
							<div>
								<span class="price h4">Shahri:</span> 
								<span class="price h4"><strong>{{school.city}}</strong></span> 
							</div>
							<div>
								<span class="price h4">Manzil:</span> 
								<span class="price h4"> <strong>{{school.address}}</strong></span> 
							</div>
						</div>
						  <div class="mb-3 d-flex justify-content-around"> 
							<div>
								<span class="price h4">Web site:</span> 
								<span class="price h4"><strong>{{school.website}}</strong></span> 
							</div>
							<div>
								<span class="price h4">Telegram:</span> 
								<span class="price h4"> <strong>{{school.telegram}}</strong></span> 
							</div>
						</div>
						  <div class="mb-3 d-flex justify-content-around"> 
							<div>
								<span class="price h4">Facebook:</span> 
								<span class="price h4"><strong>{{school.facebook}}</strong></span> 
							</div>
							<div>
								<span class="price h4">Instagram:</span> 
								<span class="price h4"> <strong>{{school.instagram}}</strong></span> 
							</div>
						</div>
						  <p class="card-text fs-6">
							<div class="card">
							<div class="card-body">
								<div id="simple-map" class="gmaps"></div>
							</div>
						</div></p>
						  <dl class="row">
							<dt class="col-sm-3">Model#</dt>
							<dd class="col-sm-9">Odsy-1000</dd>
						  
							<dt class="col-sm-3">Color</dt>
							<dd class="col-sm-9">Brown</dd>
						  
							<dt class="col-sm-3">Delivery</dt>
							<dd class="col-sm-9">Russia, USA, and Europe </dd>
						  </dl>
						  <hr>
						  <div class="row row-cols-auto row-cols-1 row-cols-md-3 align-items-center">
							<div class="col">
								<label class="form-label">Quantity</label>
								<div class="input-group input-spinner">
									<button class="btn btn-white" type="button" id="button-plus"> + </button>
								     <input type="text" class="form-control" value="1">
									<button class="btn btn-white" type="button" id="button-minus"> − </button>
								</div>
							</div> 
							<div class="col">
									<label class="form-label">Select size</label>
									<div class="">
										<label class="form-check form-check-inline">
										  <input type="radio" class="form-check-input" name="select_size" checked="">
										  <div class="form-check-label">Small</div>
										</label>
										<label class="form-check form-check-inline">
											<input type="radio" class="form-check-input" name="select_size" checked="">
											<div class="form-check-label">Medium</div>
										  </label>

										  <label class="form-check form-check-inline">
											<input type="radio" class="form-check-input" name="select_size" checked="">
											<div class="form-check-label">Large</div>
										  </label>
									</div>
							</div> 
							<div class="col">
								<label class="form-label">Select Color</label>
								<div class="color-indigators d-flex align-items-center gap-2">
									 <div class="color-indigator-item bg-primary"></div> 
									 <div class="color-indigator-item bg-danger"></div> 
									 <div class="color-indigator-item bg-success"></div> 
									 <div class="color-indigator-item bg-warning"></div> 
								</div>
							</div>
						</div>
						<div class="d-flex gap-3 mt-3">
							<a href="#" class="btn btn-primary">Buy Now</a>
							<a href="#" class="btn btn-outline-primary"><span class="text">Add to cart</span> <i class="bx bxs-cart-alt"></i></a>
						</div>
						</div>
					  </div>
					</div>
                    <hr>
					<div class="card-body">
						
					</div>

				  </div>
				<!--end row-->
			</div>
		</div>
{% block script %}
    <script src="{% static 'plugins/vectormap/jquery-jvectormap-2.0.2.min.js' %}"></script>
    <script src="{% static 'plugins/vectormap/jquery-jvectormap-world-mill-en.js' %}"></script>
	<script src="{% static 'plugins/chartjs/js/Chart.min.js' %}"></script>
	<script src="{% static 'plugins/chartjs/js/Chart.extension.js' %}"></script>
	<script src="{% static 'js/index.js' %}"></script>
    <script src="{% static 'plugins/select2/js/select2.min.js' %}"></script>
	<!-- google maps api -->
	<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDKXKdHQdtqgPVl2HI2RnUa_1bjCxRCQo4&callback=initMap" async defer></script>
    <script>
		$('.single-select').select2({
			theme: 'bootstrap4',
			width: $(this).data('width') ? $(this).data('width') : $(this).hasClass('w-100') ? '100%' : 'style',
			placeholder: $(this).data('placeholder'),
			allowClear: Boolean($(this).data('allow-clear')),
		});
		$('.multiple-select').select2({
			theme: 'bootstrap4',
			width: $(this).data('width') ? $(this).data('width') : $(this).hasClass('w-100') ? '100%' : 'style',
			placeholder: $(this).data('placeholder'),
			allowClear: Boolean($(this).data('allow-clear')),
		});
	</script>
	<script>
		function initMap() {
			let Lat = parseFloat('{{ school.lat }}')
			let Lng = parseFloat('{{ school.lng }}')
			let mapOptions = {
				center: {lat: Lat, lng: Lng},
				zoom: 6
			}
	
			let map = new google.maps.Map(document.getElementById('simple-map'), mapOptions)
	
			let markerOptions = {
				position: new google.maps.LatLng(Lat, Lng)
			}
	
			let marker = new google.maps.Marker(markerOptions)
	
			marker.setMap(map)
		}
		</script>
{% endblock script %}
{% endblock %}
