{% extends 'base.html' %}
{% load static %}
{% block sidebar_header %}
    {% include 'school/sidebar.html' %}
{% endblock sidebar_header %}
{% block style %}
{% endblock style %}
{% block content %}
		<!--start page wrapper -->
		<div class="page-wrapper">
			<div class="page-content">
				<!--breadcrumb-->
				<div class="page-breadcrumb d-none d-sm-flex align-items-center mb-3">
					<div class="breadcrumb-title pe-3">O'quvchi qo'shish</div>
					<div class="ps-3">
						<nav aria-label="breadcrumb">
{#							<ol class="breadcrumb mb-0 p-0">#}
{#								<li class="breadcrumb-item"><a href="{% url 'school-dashboard' %}"><i class="bx bx-home-alt"></i></a>#}
{#								</li>#}
{#                                <li class="breadcrumb-item active" aria-current="page">O'quvchi qo'shish</li>#}
{#                            </ol>#}
                        </nav>
					</div>
				</div>
                {% if messages %}
                    <div id="message_container" class="row" style="position: absolute; top: -20px; right: 20px; z-index: 999999999; width: 15%!important;">
                            {% for message in messages %}
                            {% if message.tags == 'success' %}
                            <div style="display:block;" class="alert alert-primary">
                                {{ message}}
                            </div>
                            {% elif message.tags == 'warning' %}
                            <div style="display:block;" class="alert alert-warning">
                                {{ message}}
                            </div>
                            {% endif %}
                            {% endfor %}
                        </div>
                    </div>
                {% endif %}
				<div class="row">
					<div class="col-xl-10 mx-auto">
						<div class="card border-top border-0 border-4 border-info">
							<div class="card-body">
                                <form action="{% url 'create-student' %}" method="post" enctype="multipart/form-data">
                                    {% csrf_token %}
    								<div class="border p-4 rounded">
									<div class="card-title d-flex align-items-center">
										<div><i class="bx bxs-user me-1 font-22 text-info"></i>
										</div>
										<h5 class="mb-0 text-info">Ro'yhatga olish</h5>
									</div>
									<hr/>
									<div class="row mb-3">
										<label for="" class="col-sm-3 col-form-label">O'quvchi turi</label>
										<div class="col-sm-9">
                                            <select name="status" class="form-control" id="">
                                                <option value="1">Prezident maktabiga</option>
                                                <option value="2">Abituriyent</option>
                                                <option value="3">Xorijiy til o'rganuvchi</option>
                                                <option value="4">O'qituvchi</option>
                                            </select>
										</div>
									</div>
                                    <div class="row mb-3">
										<label for="" class="col-sm-3 col-form-label">FIO</label>
										<div class="col-sm-9">
											<input type="text" class="form-control" name="full_name" id="" placeholder="FIO" required>
										</div>
									</div>
									<div class="row mb-3">
										<label for="" class="col-sm-3 col-form-label">Telefon nomer</label>
										<div class="col-sm-9">
											<input type="text" class="form-control" name="phone" placeholder="Telefon Nomer" required>
										</div>
									</div>
									<div class="row mb-3">
										<label for="" class="col-sm-3 col-form-label">Tug'ilgan sana</label>
										<div class="col-sm-9">
											<input type="date" name="birth_date" class="form-control" required>
										</div>
									</div>
									<div class="row mb-3">
										<label for="" class="col-sm-3 col-form-label">O'qishni boshlagan yili</label>
										<div class="col-sm-9">
											<input type="number" class="form-control" name="start_study_year" placeholder="O'qishni boshlagan yili">
										</div>
									</div>
									<div class="row mb-3">
										<label for="" class="col-sm-3 col-form-label">Rasm</label>
										<div class="col-sm-9">
											<input type="file" class="form-control-file" name="image" required>
										</div>
									</div>
									<div class="row mb-3">
										<label for="" class="col-sm-3 col-form-label">Manzil</label>
										<div class="col-sm-9">
                                            <input type="text" class="form-control" name="address" placeholder="Manzil" required>
										</div>
									</div>
									<div class="row">
										<label class="col-sm-3 col-form-label"></label>
										<div class="col-sm-9">
											<button type="submit" class="btn btn-info px-5">Ro'yhatga olish</button>
										</div>
									</div>
								</div>
                                </form>

							</div>
						</div>
					</div>
				</div>
				<!--end row-->
			</div>
		</div>

		<!--end page wrapper -->
{% block script %}
    <script>
        let message_ele = document.getElementById("message_container");

        setTimeout(function(){
           message_ele.style.display = "none";
        }, 3000);
        // Timeout is 1 sec, you can change it
    </script>
{% endblock script %}
{% endblock %}
