{% load static %}
<div class="sidebar-wrapper" data-simplebar="true">
    <div class="sidebar-header">
        <img src="{% static 'img/login_logo.png' %}" width="85%" alt="logo icon">
        <div class="toggle-icon ms-auto"><i class='bx bx-arrow-to-left'></i>
        </div>
    </div>
    <!--navigation-->
        <ul class="metismenu" id="menu">
            {% if request.path == '/school/school-dashboard/'%}
            <li class="active">
                <a href="{% url 'school-dashboard' %}" >
                    <div class="parent-icon"><i class='bx bx-home-circle'></i>
                    </div>
                    <div class="menu-title">Dashboard</div>
                </a>
            </li>
            {% else %}
            <li>
                <a href="{% url 'school-dashboard' %}" >
                    <div class="parent-icon"><i class='bx bx-home-circle'></i>
                    </div>
                    <div class="menu-title">Dashboard</div>
                </a>
            </li>
            {% endif %}
            {% if request.path == '/school/add-student/'%}
            <li class="active">
                <a href="{% url 'add-student' %}">
                    <div class="parent-icon"><i class="bx bx-user-plus"></i>
                    </div>
                    <div class="menu-title">O'quvchi qo'shish</div>
                </a>
            </li>
            {% else %}
            <li>
                <a href="{% url 'add-student' %}">
                    <div class="parent-icon"><i class="bx bx-user-plus"></i>
                    </div>
                    <div class="menu-title">O'quvchi qo'shish</div>
                </a>
            </li>
            {% endif %}
            {% if request.path == '/school/teachers/'%}
            <li class="active">
                <a href="{% url 'teachers' %}">
                    <div class="parent-icon"><i class="bx bx-user"></i>
                    </div>
                    <div class="menu-title">O'qituvchilar</div>
                </a>
            </li>
            {% else %}
            <li>
                <a href="{% url 'teachers' %}">
                    <div class="parent-icon"><i class="bx bx-user"></i>
                    </div>
                    <div class="menu-title">O'qituvchilar</div>
                </a>
            </li>
            {% endif %}
            {% if request.path == '/school/abuturient/'%}
            <li class="active">
                <a href="{% url 'abuturient' %}">
                    <div class="parent-icon"><i class="bx bx-user"></i>
                    </div>
                    <div class="menu-title">Abuturient</div>
                </a>
            </li>
            {% else %}
            <li>
                <a href="{% url 'abuturient' %}">
                    <div class="parent-icon"><i class="bx bx-user"></i>
                    </div>
                    <div class="menu-title">Abuturient</div>
                </a>
            </li>
            {% endif %}
            {% if request.path == '/school/president-student/'%}
            <li class="active">
                <a href="{% url 'president-student' %}">
                    <div class="parent-icon"><i class="bx bx-user"></i>
                    </div>
                    <div class="menu-title">Prezident Maktabiga</div>
                </a>
            </li>
            {% else %}
            <li>
                <a href="{% url 'president-student' %}">
                    <div class="parent-icon"><i class="bx bx-user"></i>
                    </div>
                    <div class="menu-title">Prezident Maktabiga</div>
                </a>
            </li>
            {% endif %}

            {% if request.path == '/school/foreign-student/'%}
            <li class="active">
                <a href="{% url 'foreign-student' %}">
                    <div class="parent-icon"><i class="bx bx-user"></i>
                    </div>
                    <div class="menu-title">Horijiy til o'rganuvchilari</div>
                </a>
            </li>
            {% else %}
            <li>
                <a href="{% url 'foreign-student' %}">
                    <div class="parent-icon"><i class="bx bx-user"></i>
                    </div>
                    <div class="menu-title">Horijiy til o'rganuvchilari</div>
                </a>
            </li>
            {% endif %}

            {% if request.path == '/school/deleted-students/'%}
            <li class="active">
                <a href="{% url 'deleted-students' %}">
                    <div class="parent-icon"><i class="bx bx-user-minus"></i>
                    </div>
                    <div class="menu-title">O'chirilgan studentlar</div>
                </a>
            </li>
            {% else %}
            <li>
                <a href="{% url 'deleted-students' %}">
                    <div class="parent-icon"><i class="bx bx-user-minus"></i>
                    </div>
                    <div class="menu-title">O'chirilgan studentlar</div>
                </a>
            </li>
            {% endif %}
        </ul>
    <!--end navigation-->
</div>
<!--end sidebar wrapper -->
<!--start header -->
<header>
    <div class="topbar d-flex align-items-center">
        <nav class="navbar navbar-expand">
            <div class="mobile-toggle-menu"><i class='bx bx-menu'></i>
            </div>
{#            <div class="search-bar flex-grow-1">#}
{#                <div class="position-relative search-bar-box">#}
{#                    <input type="text" class="form-control search-control" placeholder="Type to search..."> <span class="position-absolute top-50 search-show translate-middle-y"><i class='bx bx-search'></i></span>#}
{#                    <span class="position-absolute top-50 search-close translate-middle-y"><i class='bx bx-x'></i></span>#}
{#                </div>#}
{#            </div>#}
            <div class="top-menu ms-auto">
            </div>
            <div class="user-box dropdown">
                <a class="d-flex align-items-center nav-link dropdown-toggle dropdown-toggle-nocaret" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    <img src="{% static 'images/avatars/avatar-1.png' %}" class="user-img" alt="user avatar">
                    <div class="user-info ps-3">
                        <p class="user-name mb-0 text-center">{{ user.school.name }}</p>
                        <p class="designattion mb-0">{{ user.school.city }}</p>
                    </div>
                </a>
                <ul class="dropdown-menu dropdown-menu-end">
                    <li><a class="dropdown-item" href="javascript:;"><i class="bx bx-user"></i><span>Profile</span></a>
                    </li>
                    <li><a class="dropdown-item" href="{% url 'settings' %}"><i class="bx bx-cog"></i><span>Settings</span></a>
                    </li>
                    <li>
                        <div class="dropdown-divider mb-0"></div>
                    </li>
                    <li><a class="dropdown-item" href="{% url 'admin-logout' %}"><i class='bx bx-log-out-circle'></i><span>Logout</span></a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
</header>

